<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <title>Product</title>
  </head>
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
  </ol>
</nav>
  <div class="card" style="width: 18rem;">
          <img src= "<%= product.img %>" class="card-img-top" alt="..."/>
          <div class="card-body">
            <h5 class="card-title"><%= product.title %></h5>
            <p class="card-text"><%= product.description %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= product.price %></li>
          </ul>
           <div class="card-body">
            <a class="btn btn-primary" href="#" role="button">Купить</a>
          </div>
        </div>
  
 
</html>
